:host {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    padding: 5px;
    margin-top: -8px;
    margin-bottom: 12px;
    border-bottom: 1px solid #e0e0e0;

    .outletText {
      font-weight: 600;
      font-size: 22px;
      color: rgb(90, 89, 89);
    }

    .outletIcon {
      padding-top: 2px;
    }
  }