<div class="container">

  <h1 class="heading">OMFO MOMO</h1>

  <div class="cart-icon" (click)="navigateToCart()">
    <img src="../../assets/images/cart.png" alt="Cart" />
    <span class="cart-count">{{ getTotalCartItems() }}</span>
  </div>

  <!-- Category Tabs -->
  <div>


    <!-- IN CASE OF ZERO ITEM -->
    <div *ngIf="totalRestaurantItems === 0 && isItemLoaded">
      <div class="no-item">
        <h2>SO SORRY..! </h2>
        <h2>NO ITEM AVAILABLE.!</h2>
      </div>

    </div>



    <!-- MOMOS -->
    <app-category-tab *ngIf="categorizedItems.momosItems.length" category="Momos" [activeCategory]="activeCategory"
      [items]="categorizedItems.momosItems" (click)="toggleCategory('Momos')"></app-category-tab>

    <!-- PIZZA -->
    <app-category-tab *ngIf="categorizedItems.pizzaItems.length" category="Pizza" [activeCategory]="activeCategory"
      [items]="categorizedItems.pizzaItems" (click)="toggleCategory('Pizza')"></app-category-tab>

    <!-- BURGERS -->
    <app-category-tab *ngIf="categorizedItems.burgerItems.length" category="Burgers" [activeCategory]="activeCategory"
      [items]="categorizedItems.burgerItems" (click)="toggleCategory('Burgers')"></app-category-tab>

    <!-- CHINESE -->
    <app-category-tab *ngIf="categorizedItems.chineseItems.length" category="Chinese" [activeCategory]="activeCategory"
      [items]="categorizedItems.chineseItems" (click)="toggleCategory('Chinese')"></app-category-tab>

    <!-- SHAKES -->
    <app-category-tab *ngIf="categorizedItems.shakesItems.length" category="Shakes" [activeCategory]="activeCategory"
      [items]="categorizedItems.shakesItems" (click)="toggleCategory('Shakes')"></app-category-tab>

    <!-- CHAAP ITEMS -->
    <app-category-tab *ngIf="categorizedItems.chaapItems.length" category="Chaap" [activeCategory]="activeCategory"
      [items]="categorizedItems.chaapItems" (click)="toggleCategory('Chaap')"></app-category-tab>

    <!-- OTHERS ITEMS -->
    <app-category-tab *ngIf="categorizedItems.otherItems.length" category="Others" [activeCategory]="activeCategory"
      [items]="categorizedItems.otherItems" (click)="toggleCategory('Others')"></app-category-tab>

    <!-- @for (item of categorizedItems | keyvalue; track item.key) {
        <app-category-tab [category]="item.key" [activeCategory]="activeCategory" [items]="item.value"
          (click)="toggleCategory(item.key)"></app-category-tab>
      } -->
  </div>

  <div>
    <br />
    <br />
  </div>

  <!-- Notify DIV -->
  <div class="notify-button" [class.item-added]="itemAdded" (click)="navigateToCart()">
    <span *ngIf="getTotalCartItems()">
      {{ getTotalCartItems() }} items added &#x2192; </span>
    <span>GO TO CART</span>
  </div>
</div>
