.container {
  font-family: Arial, sans-serif;
  padding: 20px;

  .heading {
    color: #ff4c4c;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 10px;
  }
}

.notify-button {
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 18px;
  padding: 12px;
  background-color: #ff4c4c;
  color: white;
  border: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.item-added {
  background-color: #fc8585;
  transform: scale(1.1);
}

.cart-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;

  img {
    width: 30px;
    height: 30px;
  }

  .cart-count {
    position: absolute;
    top: -5px;
    right: -5px;
    background: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
  }
}
