<div class="container">

  <h1 class="heading">OMFO MOMO</h1>

  <app-select-outlet class="outlet" (click)="openOutletSelectionPopup()" [outlet]="selectedOutlet()"></app-select-outlet>

  <div class="cart-icon" (click)="navigateToCart()">
    <img src="../../assets/images/cart.png" alt="Cart" />
    <span class="cart-count">{{ getTotalCartItems() }}</span>
  </div>

  <!-- Category Tabs -->
  <div>
    <!-- MOMOS -->
    <app-category-tab category="Momos" [activeCategory]="activeCategory" [items]="storeItems?.momosItems!"
      (click)="toggleCategory('Momos')"></app-category-tab>

    <!-- PIZZA -->
    <app-category-tab category="Pizza" [activeCategory]="activeCategory" [items]="storeItems?.pizzaItems!"
      (click)="toggleCategory('Pizza')"></app-category-tab>

    <!-- BURGERS -->
    <app-category-tab category="Burgers" [activeCategory]="activeCategory" [items]="storeItems?.burgerItems!"
      (click)="toggleCategory('Burgers')"></app-category-tab>

    <!-- SHAKES -->
    <app-category-tab category="Shakes" [activeCategory]="activeCategory" [items]="storeItems?.shakesItems!"
      (click)="toggleCategory('Shakes')"></app-category-tab>

      <!-- @for (item of storeItems | keyvalue; track item.key) {
        <app-category-tab [category]="item.key" [activeCategory]="activeCategory" [items]="item.value"
          (click)="toggleCategory(item.key)"></app-category-tab>
      } -->
  </div>

  <div>
    <br />
    <br />
  </div>

  <!-- Notify DIV -->
  <div class="notify-button" [class.item-added]="itemAdded" (click)="navigateToCart()">
    <span *ngIf="getTotalCartItems()">
      {{ getTotalCartItems() }} items added &#x2192; </span>
    <span>GO TO CART</span>
  </div>
</div>