<mat-dialog-content>
    <h1 style="line-height: 30px; min-width: 285px;">SELECT OUTLET</h1>

    <br>

    <div>
        <div class="popContentButtons">
            <h1>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id quidem veritatis deleniti, debitis praesentium placeat accusantium excepturi esse dolore maxime, nobis sapiente dicta in? Eius, officiis quis. Tempora, fugit. Accusamus voluptas eveniet provident. Pariatur qui dignissimos fugit nulla id minus omnis expedita totam dolor ipsam ipsa molestiae illum explicabo impedit facere ab sed iure aperiam veniam, numquam ratione quaerat natus? Placeat sapiente nam soluta pariatur voluptates aspernatur cumque blanditiis expedita ratione praesentium aut ad, a earum accusamus modi assumenda natus? Molestias maiores labore consequuntur. Ducimus quas esse magnam vitae quo nulla, necessitatibus maxime iusto soluta neque, delectus quasi libero perspiciatis?</h1>
            <h1>KING</h1>
            <h1>KING</h1>
            <h1>KING</h1>
            <h1>KING</h1>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <div class="actionWrapper">
        <button class="actionButtons" style="color: black;" (click)="onSubmit()" cdkFocusInitial>CONFIRM</button>
    </div>
</mat-dialog-actions>