<div class="container">

    <h1 class="cart_Heading">CART ITEMS</h1>

    <div class="search-bar">
        <button class="back-button" (click)="navigateToHome()">&#x2190; GO TO HOME</button>
    </div>

    <div class="showFreeMsgWrappper"  *ngIf="isShowFreeMsg200() || isShowFreeMsg300()">
        <span class="freeMsg" *ngIf="isShowFreeMsg200()">
            Add items worth ₹{{ 200 - getTotalAmount() }} to get FREE KURKURE MOMO.
        </span>
        <span class="freeMsg" *ngIf="isShowFreeMsg300()">
            Add items worth ₹{{ 300 - getTotalAmount() }} to get FREE VEG CORN PIZZA.
        </span>
    </div>

    <div class="product-list">
        <div class="product" *ngIf="isTotalOver300()">
            <div class="product-info">
                <div class="product-title">{{ freeItemOver300.name }}</div>
                <div class="product-description">
                    <span>
                        <button class="mat-button" mat-stroked-button disabled> ₹{{ freeItemOver300.perItemPrice
                            }}</button>
                    </span>
                </div>
                <div class="product-tag">
                    <button class="mat-button" *ngIf="freeItemOver300.size" mat-stroked-button disabled> FREE </button>
                </div>
            </div>
            <div class="product-image">
                <div class="quantity-controls">
                    <button style="visibility: hidden;">-</button>
                    <span style="color: white;">{{ freeItemOver300.quantity }}</span>
                    <button style="visibility: hidden;">+</button>
                </div>
                <div>
                    <button class="mat-button" mat-stroked-button disabled> ₹{{ freeItemOver300.perItemPrice *
                        freeItemOver300.quantity
                        }}</button>
                </div>
            </div>
        </div>

        <div class="product" *ngIf="isTotalOver200()">
            <div class="product-info">
                <div class="product-title">{{ freeItemOver200.name }}</div>
                <div class="product-description">
                    <span>
                        <button class="mat-button" mat-stroked-button disabled> ₹{{ freeItemOver200.perItemPrice
                            }}</button>
                    </span>
                </div>
                <div class="product-tag">
                    <button class="mat-button" *ngIf="freeItemOver200.size" mat-stroked-button disabled> FREE </button>
                </div>
            </div>
            <div class="product-image">
                <div class="quantity-controls">
                    <button style="visibility: hidden;">-</button>
                    <span style="color: white;">{{ freeItemOver200.quantity }}</span>
                    <button style="visibility: hidden;">+</button>
                </div>
                <div>
                    <button class="mat-button" mat-stroked-button disabled> ₹{{ freeItemOver200.perItemPrice *
                        freeItemOver200.quantity
                        }}</button>
                </div>
            </div>
        </div>

        <div class="product" *ngFor="let item of cartItems">
            <div class="product-info">
                <div class="product-title">{{ item.name }}</div>
                <div class="product-description">
                    <span>
                        <button class="mat-button" mat-stroked-button disabled> ₹{{ item.perItemPrice
                            }}</button>
                    </span>
                </div>
                <div class="product-tag">
                    <button class="mat-button" *ngIf="item.size" mat-stroked-button disabled> {{ getItemSize(item)
                        }}</button>
                    <button class="mat-button" *ngIf="item.withExtraCheese" mat-stroked-button
                        disabled>EXTRA_CHEESSE</button>
                    <button class="mat-button" *ngIf="item.withCheeseBurst" mat-stroked-button
                        disabled>CHEESE_BURST</button>
                </div>
            </div>
            <div class="product-image">
                <div class="quantity-controls">
                    <button (click)="decreaseQuantity(item)">-</button>
                    <span style="color: white;">{{ item.quantity }}</span>
                    <button (click)="increaseQuantity(item)">+</button>
                </div>
                <div>
                    <button class="mat-button" mat-stroked-button disabled> ₹{{ item.perItemPrice * item.quantity
                        }}</button>
                </div>
            </div>
        </div>

        <div class="no-item" *ngIf="isDisable()">
            NO ITEM IN YOUR CART
        </div>

        <div class="cart-total" *ngIf="!isDisable()">
            <span class="cart-total-item">TOTAL ITEMS: {{ getTotalItems() }}</span>
            <br />
            <span class="cart-total-item">TOTAL PRICE: ₹{{ getTotalAmount() }}</span>
        </div>
        <div class="actionButtons">
            <button class="pri-btn" (click)="navigateToHome()">GO TO HOME</button>
            <button class="pri-btn" (click)="orderNow()" [disabled]="isDisable()">ORDER NOW</button>
        </div>
    </div>
</div>