<div class="container">

    <h1 class="cart_Heading">CART ITEMS</h1>

    <div class="search-bar">
        <button class="back-button" (click)="navigateToHome()">&#x2190; GO TO HOME</button>
    </div>

    <div class="product-list">
        <div class="product" *ngFor="let item of newCartItems">
            <div class="product-info">
                <div class="product-title">{{ item.name }}</div>
                <div class="product-description">
                    <span>
                        <button class="mat-button" mat-stroked-button disabled> ₹{{ item.perItemPrice
                            }}</button>
                    </span>
                </div>
                <div class="product-tag">
                    <button class="mat-button" *ngIf="item.size" mat-stroked-button disabled> {{ getItemSize(item)
                        }}</button>

                    @for (topping of item.toppings; track topping) {
                    <button class="mat-button" mat-stroked-button disabled> {{ topping }} </button>
                    }
                </div>
            </div>
            <div class="product-image">
                <div class="quantity-controls">
                    <button (click)="decreaseQuantity(item)">-</button>
                    <span style="color: white;">{{ item.quantity }}</span>
                    <button (click)="increaseQuantity(item)">+</button>
                </div>
                <div>
                    <button class="mat-button" mat-stroked-button disabled> ₹{{ item.perItemPrice * item.quantity
                        }}</button>
                </div>
            </div>
        </div>

        <div class="no-item" *ngIf="isDisable()">
            NO ITEM IN YOUR CART
        </div>

        <div class="cart-total" *ngIf="!isDisable()">
            <span class="cart-total-item">TOTAL ITEMS: {{ getTotalItems() }}</span>
            <br />
            <span class="cart-total-item">TOTAL PRICE: ₹{{ getTotalAmount() }}</span>
        </div>
        <div class="actionButtons">
            <button class="pri-btn" (click)="navigateToHome()">GO TO HOME</button>
            <button class="pri-btn" (click)="orderNow()" [disabled]="isDisable()">ORDER NOW</button>
        </div>
    </div>
</div>