<mat-dialog-content>
    <h1 style="line-height: 30px; min-width: 285px;">{{ chineseItem.name }}</h1>

    <br>

    <div>
        <h2>Choose size</h2>
        <div class="popContentButtons">
            <div class="popUpButton" mat-raised-button (click)="onToggleSize('half')"
                [style]="{color: size === 'half' ? 'white' : 'black', backgroundColor: size === 'half' ? 'black' : '#f0efef' }">
                <div class="popUpButtonItems">HALF</div>
                <div class="popUpButtonItems">₹{{ getMomoPrice('half') }}</div>
            </div>
            <div class="popUpButton" mat-raised-button (click)="onToggleSize('full')"
                [style]="{color: size === 'full' ? 'white' : 'black', backgroundColor: size === 'full' ? 'black' : '#f0efef' }">
                <div class="popUpButtonItems">FULL</div>
                <div class="popUpButtonItems">₹{{ getMomoPrice('full') }}</div>
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <div class="actionWrapper">
        <div class="quantity-controls">
            <button (click)="decreaseQuantity()">-</button>
            <span style="color: white;">{{ getCartItemQuantity() }}</span>
            <button (click)="increaseQuantity()">+</button>
        </div>
        <button class="actionButtons" style="color: black;" (click)="onNoClick()">CLOSE</button>
        <button class="actionButtons" style="color: black;" [mat-dialog-close]="cartItem" cdkFocusInitial>ADD - ₹{{
            getTotalPrice() }}</button>
    </div>
</mat-dialog-actions>